@font-face {
  font-family: "Ubuntu-C";
  src: url("../../resources/font/Ubuntu-C.ttf") format("truetype");
}

body{
  /* variable */
  --brown-color: #795548;
  --light-brown-color: #4d352d;
  --dark-brown-color: #a77563;

  margin: 0;
  background-color: #E1E2E1;
}

#main-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--brown-color);
}

#logo{
  margin-right: 10px;
  max-width: 100px;
  max-height: 100px;
}

h1, h2{
  margin: 0;
}

h1{
  font-size: 36px;
}

h1, h2, h3, p, th, td{
  font-family: "Ubuntu-C";
}

a{
  text-decoration: none;
  color: black;
}

nav{
  border-bottom: 2px solid var(--brown-color);
  display: flex;
  justify-content: space-between;
}

nav > section > a > button:hover{
  cursor: pointer;
}

button{
  background-color: #E1E2E1;
  text-decoration: none;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

button:hover{
  background-color: var(--brown-color);
  color: white;
}

#name{
  display: inline;
  text-decoration: underline;
  color: var(--brown-color);
}

/* Games */

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

table{
  margin: 40px;
}

th, td{
  padding: 10px;
}

th > h3{
  padding-bottom: 10px;
  border-bottom: 2px solid var(--brown-color);
}

.options-section{
  display: flex;
}

.button{
  padding: 4px 10px 4px 10px;
  border-radius: 10px;
  text-align: center;
  margin: 2px;
}

.button:hover{
  cursor: pointer;
}

.delete{
  background-color: var(--dark-brown-color);
}

.delete:hover{
  background-color: var(--brown-color);
}

.send-again{
  background-color: var(--brown-color);
  color: white;
}

.send-again:hover{
  background-color: var(--light-brown-color);
}

.decline{
  background-color: rgb(150, 150, 150);
}

.decline:hover{
  background-color: rgb(109, 109, 109);
}

.validate{
  background-color: rgb(58, 173, 58);
}

.validate:hover{
  background-color: rgb(62, 122, 62);
}